@import '../../../../../styles.scss';

.layout {
    .layout-content-router {
        width: calc(100vw);
        height: 500px;

        .content-router {
            padding-left: 79px;
            padding-top: 20px;
            padding-right: 15px;
        }

    }
}