/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100vh;
    height: fit-content;
}
/*****************************************************************************
 Colors
******************************************************************************/
$color-white : #ffffff;
$color-808285 : #808285;
$color-3a3b3b: #3a3b3b;
$color-00CC99: #00CC99;
$color-D1D3D4: #D1D3D4;
$color-E6E7E8: #E6E7E8;
$color-264d73: #264d73;
$color-e6ffe6: #e6ffe6;
$color-ffe680: #ffe680;


